html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #f15a22;
  color: #fff;
  text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

::selection {
  background: #E6F0F8;
  color: #818181; }

::-moz-selection {
  background: #E6F0F8;
  color: #818181; }

body {
  background-color: #333E48;
  color: #4D4D4D; }

.sanlo-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  padding: 15px 30px 15px 30px;
  display: inline-block;
  border: 1.8px solid #DAA25A;
  color: #DAA25A;
  transition: background 0.5s, color 0.5s; }
  .sanlo-button:hover {
    background-color: #DAA25A;
    color: #fff !important;
    transition: background 0.5s, color 0.5s; }

.ministry-button {
  margin: 1.5em 0em 0em 0em; }

.unordered-list {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  color: #818181;
  font-size: 1rem;
  line-height: 1.8em; }

.unordered-list-dashed {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  color: #818181;
  font-size: 1rem;
  line-height: 1.8em; }

.menu-button {
  position: fixed;
  z-index: 999;
  top: 5px;
  right: 0px; }

.main-nav-bg {
  background-color: #fff;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  padding: 0.5em 0em 0.6em 0em;
  z-index: 100; }
  .main-nav-bg .sanlo-logo a {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    color: #333E48;
    font-size: 1.1em;
    margin-top: 0px;
    transition: background 0.5s, color 0.5s; }
    .main-nav-bg .sanlo-logo a:hover {
      color: #DAA25A;
      transition: background 0.5s, color 0.5s; }
  .main-nav-bg .nav-link-holder {
    display: none; }

.mobile-nav-panel {
  background-color: rgba(255, 255, 255, 0.97);
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  display: flex;
  opacity: 0;
  z-index: -100;
  height: 100vh;
  width: 100%;
  transition: opacity 0.5s;
  transition-timing-function: ease; }
  .mobile-nav-panel .mobile-nav-links {
    text-align: center;
    margin-top: -5em;
    opacity: 0;
    transition: margin 0.5s, opacity 0.5s;
    transition-timing-function: ease; }
    .mobile-nav-panel .mobile-nav-links li {
      margin: 1em 0em 1em 0em; }
      .mobile-nav-panel .mobile-nav-links li a {
        display: block;
        font-family: 'Pathway Gothic One', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        color: #DAA25A;
        font-size: 2em;
        transition: all 0.5s ease; }
      .mobile-nav-panel .mobile-nav-links li .down-arrow {
        background-image: url("../img/home/arrow-down.svg");
        background-repeat: no-repeat;
        display: none;
        height: 9px;
        width: 14px; }
      .mobile-nav-panel .mobile-nav-links li .down-arrow-ministries {
        background-image: url("../img/home/arrow-down.svg");
        background-repeat: no-repeat;
        display: none;
        height: 9px;
        width: 14px; }
      .mobile-nav-panel .mobile-nav-links li .mobile-sub-nav {
        margin: 0; }
        .mobile-nav-panel .mobile-nav-links li .mobile-sub-nav a {
          font-size: 1.5em;
          color: #CBCBCB; }

.arrow-show {
  display: inline-block !important; }

.show-panel {
  z-index: 105;
  opacity: 1;
  transition: opacity 0.5s;
  transition-timing-function: ease; }

.show-nav {
  margin-top: 0em !important;
  opacity: 1 !important;
  transition: margin 0.5s, opacity 0.5s;
  transition-timing-function: ease; }

.home-hero {
  background: url(../img/home/sanlo-home.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  height: 70vh;
  z-index: -101;
  padding-top: 1.7em; }
  .home-hero .welcome-container {
    position: absolute;
    height: inherit;
    width: 100%;
    z-index: 2; }
    .home-hero .welcome-container .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
      .home-hero .welcome-container .row .inner-row {
        text-align: center; }
        .home-hero .welcome-container .row .inner-row h1 {
          font-family: 'Playfair Display', serif;
          font-style: italic;
          font-weight: 400;
          margin-bottom: 0px !important;
          font-size: 2.5rem;
          line-height: 1.2em;
          color: #fff; }
  .home-hero .color-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4b5966;
    opacity: 0.8; }
  .home-hero .video-holder {
    display: none; }

.location-holder {
  background-color: #fff;
  text-align: center;
  padding: 3.5rem 0 3.3rem 0; }
  .location-holder .row h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: 25px; }

.info-bg {
  background-color: #F7F7F7;
  padding: 5em 0em 8em 0em; }
  .info-bg .row .service-times {
    padding-bottom: 4em;
    text-align: center; }
    .info-bg .row .service-times ul li h1 {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem; }
    .info-bg .row .service-times ul li h2 {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.1rem; }
    .info-bg .row .service-times ul li hr {
      background-color: #DAA25A;
      max-width: 2.5em;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      display: block;
      height: 2px;
      border: 0; }
    .info-bg .row .service-times ul:last-child {
      padding-top: 5em; }
  .info-bg .row .divider {
    display: none; }
  .info-bg .row .sermon-series {
    text-align: center; }
    .info-bg .row .sermon-series ul li:last-child {
      color: #DAA25A; }
    .info-bg .row .sermon-series ul li h1 {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem; }
    .info-bg .row .sermon-series ul li hr {
      background-color: #DAA25A;
      max-width: 2.5em;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      display: block;
      height: 2px;
      border: 0; }

.events-bg {
  background-color: #fff;
  height: 70vh; }
  .events-bg .events-holder h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem; }

.footer-bg {
  background-color: #333E48;
  height: 25vh; }
  .footer-bg .row {
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px 0 15px; }
    .footer-bg .row .info-footer-holder {
      color: #fff; }
      .footer-bg .row .info-footer-holder li h1 {
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.15rem;
        padding-bottom: 8px; }
      .footer-bg .row .info-footer-holder li a {
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 400;
        padding: 3px 0px 3px 0px;
        font-size: 1rem;
        color: #fff;
        transition: color 0.5s; }
        .footer-bg .row .info-footer-holder li a:hover {
          color: #DAA25A;
          transition: color 0.5s; }
      .footer-bg .row .info-footer-holder li .number {
        padding-right: 15px;
        border-right: 1px solid #DAA25A; }
      .footer-bg .row .info-footer-holder li .email {
        padding-left: 10px; }
    .footer-bg .row .facebook-icon {
      color: #DAA25A;
      margin-top: 8px;
      transition: 0.5s color; }
      .footer-bg .row .facebook-icon:hover {
        color: #657380;
        transition: 0.5s color; }

.about-hero {
  padding-top: 3.8em;
  background-color: #f2f2f2;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-hero .row {
    text-align: center; }
    .about-hero .row h1 {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      color: #333E48;
      font-size: 2.5em; }
    .about-hero .row h2 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      padding-top: 5px;
      color: #DAA25A;
      font-size: 1.5em; }

.about-nav-bg {
  display: none; }

.about-section-bg {
  text-align: center;
  padding: 1em 0em 9em 0em;
  background-color: #fff; }
  .about-section-bg .about-section {
    padding-top: 2.8em; }
    .about-section-bg .about-section h1 {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      font-size: 2.2rem;
      color: #333E48; }
    .about-section-bg .about-section h2 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #DAA25A;
      padding-bottom: 0.5em; }
    .about-section-bg .about-section h3 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.6rem;
      color: #DAA25A;
      padding: 1em 0em 0.5em 0em; }
    .about-section-bg .about-section p {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      color: #818181;
      line-height: 1.5em;
      padding-top: 1em;
      font-size: 1rem; }
    .about-section-bg .about-section .expect-p {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      color: #818181;
      line-height: 1.5em;
      font-size: 1rem;
      padding-top: 0px; }
    .about-section-bg .about-section a {
      color: #DAA25A;
      transition: color 0.5s; }
      .about-section-bg .about-section a:hover {
        color: #333E48;
        transition: color 0.5s; }
    .about-section-bg .about-section ol {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      list-style-type: upper-roman;
      color: #818181;
      text-align: left;
      font-size: 1rem;
      line-height: 1.5em;
      margin-left: 1.7em; }
      .about-section-bg .about-section ol li {
        padding-left: 0.2em; }

.sanlo-purpose-holder {
  text-align: center; }
  .sanlo-purpose-holder .sanlo-purpose {
    padding-top: 4em; }
    .sanlo-purpose-holder .sanlo-purpose .purpose-desktop {
      display: none; }
    .sanlo-purpose-holder .sanlo-purpose .purpose-mobile {
      height: auto;
      width: 50%; }

.trinity-holder {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0em 0.5em 0em; }
  .trinity-holder .trinity-number {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    color: #D9D9D9;
    padding-right: 15px; }
  .trinity-holder .one {
    padding-left: 2px; }

.staff-section-bg {
  padding: 2em 0em 4em 0em;
  background-color: #fff; }
  .staff-section-bg .row {
    padding-top: 3em; }
    .staff-section-bg .row .staff-profile-holder {
      text-align: center;
      padding-bottom: 2em; }
      .staff-section-bg .row .staff-profile-holder .staff-picture {
        background-clip: content-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #f2f2f2;
        margin-bottom: 0.8em; }
      .staff-section-bg .row .staff-profile-holder h1 {
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2em;
        color: #333E48; }
      .staff-section-bg .row .staff-profile-holder h2 {
        font-family: 'Pathway Gothic One', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.1em;
        color: #DAA25A; }
      .staff-section-bg .row .staff-profile-holder h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.8em;
        color: #B9C4CE; }

.news-section-bg {
  padding: 4em 0em 5em 0em;
  background-color: #fff; }
  .news-section-bg .news-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .news-section-bg .news-section h1 {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      font-size: 2.5rem;
      color: #333E48;
      text-align: center;
      line-height: 1.1em;
      margin-bottom: 0.1em; }
    .news-section-bg .news-section h2 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #DAA25A;
      padding-bottom: 0.5em;
      display: inline-block; }
    .news-section-bg .news-section h3 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.6rem;
      color: #DAA25A;
      padding: 1em 0em 0.5em 0em; }
    .news-section-bg .news-section .see-all {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #818181;
      display: none;
      align-self: flex-end; }
      .news-section-bg .news-section .see-all:hover {
        text-decoration: underline; }

.announcement-content {
  margin: 1.4em 0em 4em 0em;
  background-clip: padding-box; }
  .announcement-content .announcement-block {
    background-color: #FAFAFA;
    background-clip: content-box;
    margin: 0.5em 0em 0.5em 0em;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 4em;
    transition: background-color 0.5s;
    flex-grow: 0;
    flex-wrap: nowrap; }
    .announcement-content .announcement-block:hover {
      background-color: #f0f0f0;
      transition: background-color 0.5s; }
    .announcement-content .announcement-block .announcement-title {
      text-overflow: ellipsis;
      overflow: hidden; }
      .announcement-content .announcement-block .announcement-title h1 {
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 400;
        color: #333E48;
        margin-left: 1.5em;
        font-size: 1.1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .announcement-content .announcement-block .announcement-date h2 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      color: #DAA25A;
      font-size: 1.25em;
      align-self: center;
      margin-right: 1.5em;
      margin-left: 0.5em; }
  .announcement-content .button-holder {
    padding: 2.4em 0em 1em 0em; }

.button-holder {
  display: flex;
  justify-content: center; }

.newsletter-content {
  margin: 1.4em 0em 0em 0em; }
  .newsletter-content .newsletter-block {
    display: inline-block;
    padding-bottom: 2em; }
    .newsletter-content .newsletter-block:hover > h1 {
      color: #DAA25A;
      text-decoration: underline; }
    .newsletter-content .newsletter-block:hover > h2 {
      color: #DAA25A;
      text-decoration: underline; }
    .newsletter-content .newsletter-block .newsletter-img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #f2f2f2;
      overflow: hidden;
      height: 13em; }
  .newsletter-content h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    color: #333E48;
    padding-top: 0.5em;
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis; }
  .newsletter-content h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #DAA25A;
    font-size: 1.25em; }
  .newsletter-content .button-holder {
    padding: 2.5em 0em 0em 0em; }

.coming-soon {
  background-color: #FAFAFA;
  padding: 15em 0em 15em 0em;
  text-align: center; }
  .coming-soon p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em; }

.groups-title {
  font-size: 1.8em !important;
  margin-top: 1em; }

.small-group-outer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .small-group-outer .small-group-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }

.small-group-list {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  line-height: 1.35em;
  font-size: 1em;
  color: #818181;
  padding-top: 1.4em; }
  .small-group-list li:first-child {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    color: #333E48;
    font-size: 1.1em; }

.young-adult-groups {
  margin-top: 1em;
  margin-bottom: 1em; }

.current-study {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 1em 0em 0em 0em;
  color: #333E48; }

.outreach-header {
  margin-top: 0.8em; }

.outreach-list {
  margin-top: 1.2em; }

.coming-soon-page {
  background-color: #f2f2f2;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row; }
  .coming-soon-page .coming-soon-text {
    text-align: center; }
    .coming-soon-page .coming-soon-text h1 {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      font-size: 2em;
      color: #818181; }
    .coming-soon-page .coming-soon-text p {
      color: #DAA25A;
      padding-top: 4px; }

@media screen and (min-width: 64em) {
  .break-hide {
    display: none; }

  .unordered-list {
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    color: #818181;
    font-size: 1rem;
    line-height: 1.8em; }

  .unordered-list-dashed {
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    color: #818181;
    font-size: 1rem;
    line-height: 1.7em; }

  ul.unordered-list-dashed > li:before {
    content: "-";
    padding-right: 0.5em; }

  .menu-button {
    display: none; }

  .main-nav-bg {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 105;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    padding: 0; }
    .main-nav-bg .sanlo-logo a {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      display: inline-block;
      color: #333E48;
      font-size: 1.3em;
      margin-top: 10px;
      transition: background 0.5s, color 0.5s; }
      .main-nav-bg .sanlo-logo a:hover {
        color: #DAA25A;
        transition: background 0.5s, color 0.5s; }
    .main-nav-bg .menu-button {
      display: none; }
    .main-nav-bg .nav-link-holder {
      display: block;
      text-align: right; }
      .main-nav-bg .nav-link-holder .main-nav-links li {
        display: inline-block; }
        .main-nav-bg .nav-link-holder .main-nav-links li .sub-nav-panel {
          background-color: #B9C4CE;
          padding: 1em 0em 1em 0em;
          position: absolute;
          text-align: center;
          display: none;
          width: 100%;
          margin-left: 0;
          left: 0; }
          .main-nav-bg .nav-link-holder .main-nav-links li .sub-nav-panel a {
            color: rgba(255, 255, 255, 0.6); }
            .main-nav-bg .nav-link-holder .main-nav-links li .sub-nav-panel a:hover {
              color: #fff;
              transition: color 0.2s; }
        .main-nav-bg .nav-link-holder .main-nav-links li a {
          font-family: 'Pathway Gothic One', sans-serif;
          font-style: normal;
          font-weight: 400;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 0.10em;
          font-size: 1.3rem;
          color: #BFBFBF;
          transition: color 0.2s;
          padding: 1.5rem 0rem 1.5rem 2rem; }
          .main-nav-bg .nav-link-holder .main-nav-links li a:hover {
            color: #DAA25A;
            transition: color 0.2s; }
          .main-nav-bg .nav-link-holder .main-nav-links li a span {
            position: absolute;
            color: #BFBFBF;
            display: inline-block;
            font-size: 0.8em;
            vertical-align: text-top;
            padding-left: 5px;
            padding-top: 5px; }
        .main-nav-bg .nav-link-holder .main-nav-links li .nav-selected {
          color: #DAA25A !important; }

  #about-link {
    padding-right: 15px; }

  #ministries-link {
    padding-right: 15px; }

  .show-drop {
    display: block !important; }

  .mobile-nav-panel {
    display: none; }

  .home-hero {
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;
    height: 90vh;
    z-index: -101;
    padding-top: 0; }
    .home-hero .welcome-container {
      position: absolute;
      height: inherit;
      width: 100%;
      z-index: 2; }
      .home-hero .welcome-container .row {
        height: 100%; }
        .home-hero .welcome-container .row .inner-row {
          margin-top: 1.7em; }
          .home-hero .welcome-container .row .inner-row h1 {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 400;
            margin-bottom: 0px !important;
            font-size: 4rem;
            line-height: 1.2em;
            color: #fff; }
    .home-hero .color-overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #4b5966;
      opacity: 0.4; }
    .home-hero .video-holder {
      position: absolute;
      display: block;
      height: 100vh;
      max-height: 100vh;
      z-index: -100; }
      .home-hero .video-holder .sanlo-loop {
        object-fit: cover;
        min-height: 300px;
        max-height: 100vh;
        display: block;
        height: 100vh;
        width: 100%; }

  .location-holder .row br {
    display: none; }

  .info-bg {
    background-color: #F7F7F7;
    height: 60vh;
    padding: 0; }
    .info-bg .row {
      height: inherit;
      display: flex;
      align-items: center; }
      .info-bg .row .service-times {
        text-align: center;
        padding: 0; }
        .info-bg .row .service-times ul li h1 {
          font-family: 'Libre Baskerville', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1.4rem; }
        .info-bg .row .service-times ul li h2 {
          font-family: 'Libre Baskerville', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1.1rem; }
        .info-bg .row .service-times ul li hr {
          background-color: #DAA25A;
          max-width: 2.5em;
          margin-top: 0.8em;
          margin-bottom: 0.8em;
          display: block;
          height: 2px;
          border: 0; }
        .info-bg .row .service-times ul:last-child {
          padding-top: 40px; }
      .info-bg .row .divider {
        display: inline-block;
        background-color: #DDDDDD;
        border-bottom: 3.8em solid #f7f7f7;
        border-top: 3.8em solid #f7f7f7;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        height: inherit;
        width: 2px;
        left: 0;
        right: 0; }
      .info-bg .row .sermon-series {
        text-align: center;
        padding: 0; }
        .info-bg .row .sermon-series ul li:last-child {
          color: #DAA25A; }
        .info-bg .row .sermon-series ul li h1 {
          font-family: 'Libre Baskerville', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1.4rem; }
        .info-bg .row .sermon-series ul li hr {
          background-color: #DAA25A;
          max-width: 2.5em;
          margin-top: 0.8em;
          margin-bottom: 0.8em;
          display: block;
          height: 2px;
          border: 0; }

  .footer-bg {
    background-color: #333E48;
    height: 25vh; }
    .footer-bg .row {
      height: inherit;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between; }
      .footer-bg .row .info-footer-holder {
        width: 100%;
        color: #fff; }
        .footer-bg .row .info-footer-holder li h1 {
          font-family: 'Libre Baskerville', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1.15rem;
          padding-bottom: 8px; }
        .footer-bg .row .info-footer-holder li a {
          font-family: 'Libre Baskerville', serif;
          font-style: normal;
          font-weight: 400;
          padding: 3px 0px 3px 0px;
          font-size: 1rem;
          color: #fff;
          transition: color 0.5s; }
          .footer-bg .row .info-footer-holder li a:hover {
            color: #DAA25A;
            transition: color 0.5s; }
        .footer-bg .row .info-footer-holder li .number {
          padding-right: 15px;
          border-right: 1px solid #DAA25A; }
        .footer-bg .row .info-footer-holder li .email {
          padding-left: 10px; }

  .about-hero {
    padding-top: 4em;
    background-color: #f2f2f2;
    height: 50vh; }
    .about-hero .row {
      text-align: center; }
      .about-hero .row h1 {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: 400;
        color: #333E48;
        font-size: 3em; }
      .about-hero .row h2 {
        font-family: 'Pathway Gothic One', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 5px;
        color: #DAA25A;
        font-size: 1.5em; }

  .about-nav-bg {
    display: block;
    background-color: #333E48;
    text-align: center; }
    .about-nav-bg .about-nav-links li {
      display: inline-block;
      padding: 1.5rem 2em 1.5rem 0rem; }
      .about-nav-bg .about-nav-links li a {
        font-family: 'Pathway Gothic One', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.10em;
        font-size: 1.3rem;
        color: rgba(255, 255, 255, 0.4);
        transition: color 0.2s; }
        .about-nav-bg .about-nav-links li a:hover {
          color: #fff;
          transition: color 0.2s; }
      .about-nav-bg .about-nav-links li:last-child {
        padding-right: 0em; }
      .about-nav-bg .about-nav-links li .about-selected {
        color: #fff; }

  .about-section-bg {
    padding: 4.2em 0em 9em 0em;
    background-color: #fff;
    text-align: left; }

  .sanlo-purpose-holder {
    text-align: center; }
    .sanlo-purpose-holder .sanlo-purpose {
      padding-top: 8em; }
      .sanlo-purpose-holder .sanlo-purpose .purpose-desktop {
        display: block;
        height: auto;
        width: 100%; }
      .sanlo-purpose-holder .sanlo-purpose .purpose-mobile {
        display: none; }

  .trinity-holder {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0em 0.5em 0em; }
    .trinity-holder .trinity-number {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 3em;
      color: #D9D9D9;
      padding-right: 15px;
      margin-top: -0.25em; }
    .trinity-holder .one {
      padding-right: 20px; }

  .staff-section-bg {
    padding: 3em 0em 5em 0em;
    background-color: #fff; }
    .staff-section-bg .row {
      padding-top: 3em; }
      .staff-section-bg .row .staff-profile-holder {
        text-align: center;
        padding-bottom: 2em; }
        .staff-section-bg .row .staff-profile-holder .staff-picture {
          background-clip: content-box;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          background-color: #f2f2f2;
          margin-bottom: 0.8em; }
        .staff-section-bg .row .staff-profile-holder h1 {
          font-family: 'Libre Baskerville', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1.3em;
          color: #333E48; }
        .staff-section-bg .row .staff-profile-holder h2 {
          font-family: 'Pathway Gothic One', sans-serif;
          font-style: normal;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.2em;
          color: #DAA25A; }
        .staff-section-bg .row .staff-profile-holder h3 {
          font-family: 'Source Sans Pro', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1em;
          color: #B9C4CE; }

  .news-section-bg {
    padding: 4em 0em 5em 0em;
    background-color: #fff; }
    .news-section-bg .row {
      padding-bottom: 0.5em; }
      .news-section-bg .row .news-section {
        display: flex;
        justify-content: space-between;
        flex-direction: row; }
        .news-section-bg .row .news-section h1 {
          font-family: 'Playfair Display', serif;
          font-style: italic;
          font-weight: 400;
          font-size: 2.5rem;
          color: #333E48; }
        .news-section-bg .row .news-section h2 {
          font-family: 'Pathway Gothic One', sans-serif;
          font-style: normal;
          font-weight: 400;
          text-transform: uppercase;
          padding-bottom: 0px;
          font-size: 1.3rem;
          color: #DAA25A;
          display: inline-block;
          align-self: center; }
        .news-section-bg .row .news-section h3 {
          font-family: 'Pathway Gothic One', sans-serif;
          font-style: normal;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.6rem;
          color: #DAA25A;
          padding: 1em 0em 0.5em 0em; }
        .news-section-bg .row .news-section .see-all {
          font-family: 'Pathway Gothic One', sans-serif;
          font-style: normal;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.3rem;
          color: #818181;
          display: inline-block;
          align-self: center; }
          .news-section-bg .row .news-section .see-all:hover {
            text-decoration: underline; }

  .button-holder {
    display: none; }

  .announcement-content {
    margin: 1.4em 0em 4em 0em;
    background-clip: padding-box; }
    .announcement-content .announcement-block:hover {
      background-color: #f0f0f0;
      transition: background-color 0.5s; }
    .announcement-content .announcement-block .announcement-title {
      text-overflow: ellipsis;
      overflow: hidden; }
      .announcement-content .announcement-block .announcement-title h1 {
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 400;
        color: #333E48;
        margin-left: 1.5em;
        font-size: 1.1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .announcement-content .announcement-block .announcement-date h2 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      color: #DAA25A;
      font-size: 1.25em;
      align-self: center;
      margin-right: 1.5em;
      margin-left: 1.5em; }

  .newsletter-content {
    margin: 1.4em 0em 0em 0em; }
    .newsletter-content .newsletter-block {
      display: inline-block;
      padding-bottom: 2em; }
      .newsletter-content .newsletter-block:hover > h1 {
        color: #DAA25A;
        text-decoration: underline; }
      .newsletter-content .newsletter-block:hover > h2 {
        color: #DAA25A;
        text-decoration: underline; }
      .newsletter-content .newsletter-block .newsletter-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #f2f2f2;
        overflow: hidden;
        height: 13em; }
    .newsletter-content h1 {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      color: #333E48;
      padding-top: 0.5em;
      font-size: 1.1em;
      overflow: hidden;
      text-overflow: ellipsis; }
    .newsletter-content h2 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      color: #DAA25A;
      font-size: 1.1em; }

  .post-nav-bg {
    padding: 2.5em 2.5em 2.5em 2.5em;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between; }
    .post-nav-bg a {
      text-transform: uppercase;
      font-family: 'Pathway Gothic One', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5em;
      color: #DAA25A;
      transition: color 0.5s; }
      .post-nav-bg a:hover {
        color: #333E48;
        transition: color 0.5s; }

  .post-holder {
    background-color: white;
    padding-bottom: 6em; }
    .post-holder .post-body-top {
      padding: 6em 0em 3.5em 0em; }
      .post-holder .post-body-top .post-title {
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        text-align: center; }
      .post-holder .post-body-top .post-date {
        font-family: 'Pathway Gothic One', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #DAA25A;
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center; }
    .post-holder .post-body p {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      color: #818181;
      padding: 0.7em 0em 0.7em 0em;
      line-height: 1.8em;
      font-size: 1.1em; }
    .post-holder .post-body i {
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
      font-weight: 400;
      font-size: inherit; }
    .post-holder .post-body a {
      color: #DAA25A;
      transition: color 0.5s; }
      .post-holder .post-body a:hover {
        color: #333E48;
        transition: color 0.5s; }
    .post-holder .post-body blockquote {
      border-left: 5px solid #eaeff2;
      margin: 15px 0px 15px 0px; }
      .post-holder .post-body blockquote p {
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 1.12em;
        padding: 20px 35px 20px 35px; }
    .post-holder .post-body hr {
      background-color: #DAA25A;
      border-bottom: 0;
      padding: 0.1em;
      display: block;
      text-align: center;
      max-width: 11%; }
    .post-holder .post-body img {
      display: block;
      padding: 20px 0px 20px 0px;
      margin: 0 auto; }

  .groups-title {
    font-size: 1.8em !important;
    margin-top: 1em; }

  .small-group-outer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .small-group-outer .small-group-holder {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 4.8em; }

  .small-group-list {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    line-height: 1.35em;
    font-size: 1em;
    color: #818181;
    padding-top: 1.4em; }
    .small-group-list li:first-child {
      font-family: 'Libre Baskerville', serif;
      font-style: normal;
      font-weight: 400;
      color: #333E48;
      font-size: 1.1em; } }
