@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .venture-bg .row .venture-laptop-home-bg {
    margin-bottom: 0px;
    text-align: right; }
    .venture-bg .row .venture-laptop-home-bg .venture-laptop-home {
      max-width: 70%; }

  .guitar-bg .row .guitar-ipad-bg {
    margin-bottom: 0px;
    text-align: left; }
    .guitar-bg .row .guitar-ipad-bg .guitar-center-ipad-home {
      max-width: 90%; }

  .gravity-bg .row .gravity-screen-bg {
    margin-bottom: 0px;
    text-align: right; }
    .gravity-bg .row .gravity-screen-bg .gravity-screen-home {
      max-width: 95%; }

  .moad-bg .row .moad-cards-bg {
    margin-bottom: 0px;
    text-align: left; }
    .moad-bg .row .moad-cards-bg .moad-cards-home {
      max-width: 100%; } }
