// Colors
$default: #4D4D4D;
$sanlo-navy: #324251;
$sanlo-lightblue: #B9C4CE;
$sanlo-gold: #eaa954;
$sanlo-default: #818181;

// Typography
$title: 1.5em;
$list: 1.4em;
$list-small: 1.1em;
$contact: 1.2em;

$description-mobile: 1.1em;


// Navigation
